@import url('reset.css');
@import url('global.css');

.cards {
    display: flex;
    flex-direction: row;
    gap: 31px;
}

.cards_saldo {
    display: flex;
    flex-direction: column;
    width: 346px;
    height: 165px;

    text-align: center;
    justify-content: center;

    background: linear-gradient(180deg, #BD00FF 10.94%, #8E97FF 99.99%, #1F43C4 100%);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    
}

.cards_saldo h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 45px;
    /* identical to box height */

    color: #FFFFFF;
}

.saldo_value {
    font-family: 'Nanum Myeongjo';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;


    color: #FFFFFF;

}

.cards_cofres {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    width: 346px;
    height: 165px;

    background: linear-gradient(180deg, #FA00FF 0%, #7000FF 100%);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.cards_cofres h1 {
    font-family: 'Jacques Francois';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 45px;

    color: #FFFFFF;

}