@import url('reset.css');
@import url('global.css');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');    

main {
    display: flex;
    flex-direction: row;
    background: #FDEBED;
}

.conteudo {
    display: flex;
    flex-direction: column;
    width: 756px;
    margin: 0 auto;
    margin-top: 141px;
}

.conteudo_title {
    display: flex;
    flex-direction: column;
}

.conteudo_title h1 {
    font-family: 'Jacques Francois';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 45px;

    color: #000000;
}

.conteudo_controle {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 41px;  
    margin-bottom: 32px;
    margin-top: 32px;
}

.conteudo_controle h1 {
    font-family: 'Jacques Francois';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

    color: #000000;
}

.conteudo_controle input {
    width: 183px;
    height: 34px;

    background: #F5C6EC;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

input:hover {
    background-color: #fd6be2b4;
    transition: 0.4s;
    transform: scale(1.1);
}

button:hover {
    background-color: #a200ffb4;
    transition: 0.4s;
    transform: scale(1.1);
}

input:active {
    background-color: #fd6be2b4;
    transition: 0.4s;
    transform: scale(1.1);
}

.controle_executar {
    display: flex;  
    flex-direction: column;

    justify-content: center;
    align-items: center;
    width: 108px;
    height: 42px;
    background: linear-gradient(180deg, rgba(206, 126, 255, 0) 0%, #DFB7F8 99.99%, #9E00FF 100%);
    border: 1px solid #000000;
}

.controle_executar h2 {
    font-family: 'Jacques Francois';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;

    color: #000000;
}


.historico {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.historico h1{
    font-family: 'Jacques Francois';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 45px;

    color: #000000;
}

.template_transacoes {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.transacao_menu {
    display: flex;
    flex-direction: row;
    gap: 70px;
    margin-bottom: 20px;
    
   

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;

}

.menu_data {
    width: 120px;
} 

.menu_desc {
    width: 603px;  
}

.template {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    gap: 70px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    padding: 15px 0;
    border-top: #E5D1FA solid 1px;
    border-bottom: #E5D1FA solid 1px;
    
}

.template_data {
    width: 120px;
}