@import url('reset.css');
@import url('global.css');

body {
    background: url('../assets/imagens/background.png');
    position: absolute;
    width: 1330px;
}

.register {
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: 637px;
    
    border-radius: 30px;
    align-self: center;
    align-items: center;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

.register-sobre {
    display: flex;
    flex-direction: column;

    width: 500px;
    height: 637px;
    padding-left: 113px;
    padding-right: 64px;
    background: rgba(189, 122, 255, 0.36);
    border-radius: 30px 0px 0px 30px;
}

.register-sobre h1 {
    width: 323px;
    height: 120px;

    margin-top: 243px;
    margin-bottom: 21px;

    font-family: 'Jacques Francois';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;

    color: #FFFFFF;
}

.icon {
    display: flex;
    flex-direction: row;
    gap: 17px;
}

.icon p {
    width: 108px;
    height: 40px;

    font-family: 'Jacques Francois';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;

    color: #FFFFFF;
}

.register-form {
    display: flex;
    flex-direction: column;

    width: 500px;
    height: 637px;

    padding: 82px 0 0 82px;
    border-radius: 0 30px 30px 0;


    background: #D9D9D9;

}

.register-form h1 {
    font-family: 'Jacques Francois';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    /* identical to box height */


    color: #000000;
}

.register-form a p{
    font-family: 'Jacques Francois';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    color: rgba(0, 0, 0, 0.5)
}

.form-container {
    display: flex;
    flex-direction: row;
    gap: 28px;
    width: 394px;
    height: 309px;
    margin-bottom: 40px;
}

.form-container p {
    margin-bottom: 5px;

    font-family: 'Jacques Francois';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    color: #000000;
}

.container-first {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.container-first input {
    width: 183px;
    height: 34px;

    background: #D5CDCD;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}


.container-segund {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.container-segund input {
    width: 183px;
    height: 34px;

    background: #D5CDCD;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.container-segund select {
    width: 183px;
    height: 34px;

    text-align: center;

    background: #D5CDCD;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.btnRegister {
    width: 266px;
    height: 50px;

    margin-bottom: 13px;

    background: rgba(189, 122, 255, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.btnRegister h1 {
    font-family: 'Jacques Francois';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;

    background: linear-gradient(180deg, #5A007A 0%, rgba(1, 11, 255, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 20px;

}