@import url('reset.css');
@import url('global.css');

.conteudo {
    display: flex;
    flex-direction: column;
    width: 764px;
    margin: 0 auto;
    margin-top: 86px;
}

.conteudo_title h1 {
    margin-bottom: 56px;

    font-family: 'Jacques Francois';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 45px;
    
    color: #000000;
}

.cards {
    justify-content: center;
}



.btn_saque {
    width: 118px;
    height: 50px;

    background: linear-gradient(to right, #FA00FF 0%, #7000FF 100%);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.btn_saque h2 {
    font-size: 25px;
}

.error_saque {
    color: red;
    font-size: 20px;
    margin: 30px;
}