@import url('reset.css');
@import url('global.css');

.siderBar {
    display: flex;
    flex-direction: column;
    width: 225;
    background: #BE79DF;
    
}

.ofside_perfil {
    width: 225px;
    height: 171px;
    background: url('../assets/imagens/contahome/background_perfil.png');
    text-align: center;
    border: 1px solid #E1CCEC;
}

.ofside_perfil img{
    margin-top: 19px;
}

.ofside_perfil h1 {
    font-family: 'Jacques Francois';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
}

.ofside_menu {
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    margin-bottom: 55px;
    gap: 26px;

}

.ofside_menu a div h2 {
    margin: auto 0;
    margin-left: 12px;
    font-family: 'Jacques Francois';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    
    color: #000000;
}

.ofside_menu a div {
    display: flex;
    flex-direction: row;
    padding-left: 14px;
    padding-bottom: 5px;
    background-color: rgba(190, 121, 223,);
}

.ofside_menu a div:hover {
    background-color: #E1CCEC;
    transition: 0.5s;
    padding-bottom: 10px;
    padding-top: 10px;
}
