
.transacoes {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
}

.transacoes h1 {
    margin-bottom: 30px;

    font-family: 'Jacques Francois';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 45px;
    
    color: #000000;
}

.transacoes p {
    font-family: 'Jacques Francois';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    color: #000000;
}

.transacoes input {
    width: 266px;
    height: 34px;

    background: #D5CDCD;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}



.transacoes h2 {
    font-family: 'Jacques Francois';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 45px;
    
    color: #FFFFFF;
}

.transacoes_controle {
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.transacoes_controle div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}