.pointer {
    cursor: pointer;
}

.hover_purple:hover {
    background: rgba(189, 122, 255, 0.70);
    color: rgb(255, 255, 255);
    border: 1px solid grey;
    transition: 0.5s;
}

.active_purple:focus {
    background: rgba(189, 122, 255, 0.70);
    color: rgb(255, 255, 255);
    font-size: 15px;
    border: none;
    transition: 0.5s;
    
}

.hover_btn:hover {
    background: linear-gradient(180deg, #BD00FF 10.44%, #8E97FF 99.40%, #1F43C4 100%);
    
}
.hover_btn:hover h1 {
    background: linear-gradient(180deg, #ffffff 50%, rgba(0, 0, 0, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;


}