@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    padding: 0;
    margin: 0;
}

body  {
    background: linear-gradient(180deg, #a811ff 0%, #181818 100%);
    color: black;
    font-size: 13pt;
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding: 5px;
    
}

br {
    padding: 5px;
    margin: 10px;
}

div {
    font-size: 16pt;
}

input, button {
    border-radius: 5px;
}

button {
    font-size: 15pt;
    padding: 3px;
}

h1, h2 {
    text-shadow: 2px;
    padding: 5px;
    margin: 5px;
}

footer {
    background-color: rgb(217, 176, 255);
    text-align: center;
    border-radius: 10px;
    font-size: 15pt;
}
header {
    background-color: rgb(217, 176, 255);
    border-radius: 10px;
    padding: 1px;
    margin: 1px;
    font-size: 10pt;
    text-align: center;
    
}

.post {
    background-color: rgb(255, 255, 255);
    padding: 110px;
    border: 3px solid rgba(224, 72, 255, 0.233);
    margin: 10px;
    border-radius: 8px;
    max-height: 350px;
    min-height: 350px;
    padding-top: 10px;
}
 .links a {
    padding: 10px;
    
 }

.icon {
    max-height: 20px;
    max-width: 20px;
    padding-left: 2px;
}

.btnRegister {
    padding: 4px;
    margin: 10px;
    background-color: #a811ff;
    border-color: rgb(111, 0, 255);
}

.acaoRetirar {
    padding: 4px;
    margin: 10px;
    background-color: #a811ff;
    border-color: rgb(111, 0, 255);
}

.acaoDepositar {
    padding: 4px;
    margin: 10px;
    background-color: #a811ff;
    border-color: rgb(111, 0, 255);
}

.acaoExtrato {
    padding: 4px;
    margin: 10px;
    background-color: #a811ff;
    border-color: rgb(111, 0, 255);
}

.reEnviar {
    padding: 4px;
    margin: 10px;
    background-color: #a811ff;
    border-color: rgb(111, 0, 255);
}

.erroLogin{
    display: none;
    font-size: 8pt;
    color: red;
}

.errorRegister{
    padding: 2px;
    display: none;
    font-size: 8pt;
    color: red;
}

.errorSaque {
    padding: 2px;
    display: none;
    font-size: 8pt;
    color: red;
}

.errorDeposito {
    padding: 2px;
    display: none;
    font-size: 8pt;
    color: red;
}

p {
    padding: 5px;
    margin: 2px;
   
}